/* Here I just put in a little light styling to space out the text a little bit. */
h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1, p {
    margin-left: 20px;
}